#jinja2: trim_blocks: False
---
# {{ ansible_managed }}

# Expect iocage to pass with expected message(s).
# Status:
# pass ..... module pass with expected message(s)
# fail ..... module pass without expected message(s)
# crash .... module crash

- ansible.builtin.set_fact:
    _crash: true

- name: "{{ test.label }}"
  block:

    - name: " >>> TEST START: {{ test.label }}"
      register: result
      iocage:
{%- if test.iocage is defined %}
        {{ test.iocage | to_nice_yaml(indent=2) | indent(width=8) }}
{%- endif %}
    - ansible.builtin.set_fact:
        _crash: false

    - ansible.builtin.debug:
        var: result
      when: debug2 | bool

{%- for i in test.debug2 | d([]) %}
    - ansible.builtin.debug:
{%- if i.msg is defined %}
        msg: |-
          {{ i.msg | indent(width=10) }}
{%- endif %}
{%- if i.var is defined %}
        var: {{ i.var }}
{%- endif %}
      when: debug2 | bool
{%- endfor %}

{%- for i in test.debug | d([]) %}
    - ansible.builtin.debug:
{%- if i.msg is defined %}
        msg: |-
          {{ i.msg | indent(width=10) }}
{%- endif %}
{%- if i.var is defined %}
        var: {{ i.var }}
{%- endif %}
      when: debug | bool
{%- endfor %}

{%- if test.set_fact | d([]) | length > 0 %}
    - ansible.builtin.set_fact:
{%- for i in test.set_fact | d([]) %}
        {{ i }}
{%- endfor %}
{%- endif %}

  rescue:

    - ansible.builtin.debug:
        var: ansible_failed_result
      when: debug | bool

    - ansible.builtin.import_tasks: custom_stats_crash.yml

- name: No crash
  when: not _crash
{%- if test.vars | d({}) | length > 0 %}
  vars:
{%- for k,v in (test.vars | d({})).items() %}
    {{ k }}: {{ v }}
{%- endfor %}
{%- endif %}
  block:

    - ansible.builtin.assert:
        fail_msg: "[ERR] {{ lbr }} _test_name {{ rbr }}: Failed: {{ lbr }} result.msg {{ rbr }}"
        success_msg: "[OK]  {{ lbr }} _test_name {{ rbr }}: Passed: {{ lbr }} result.msg {{ rbr }}"
        that:
{%- for i in test.assert %}
          - {{ i }}
{%- endfor %}

    - ansible.builtin.import_tasks: custom_stats_pass.yml

  rescue:

    - ansible.builtin.debug:
        msg: |
          {{ test.msg_err }}
          {{ lbr }} ansible_failed_task {{ rbr }}
          {{ lbr }} ansible_failed_result {{ rbr }}
      when: debug | bool

    - ansible.builtin.import_tasks: custom_stats_fail.yml

# EOF
