#jinja2: trim_blocks: False
---
# {{ ansible_managed }}

- hosts: "{{ lbr }} my_hosts|default('localhost') {{ rbr }}"
  strategy: "{{ lbr }} my_strategy|default('linear') {{ rbr }}"
  gather_facts: false
  become: true
  become_method: sudo

  vars:

    debug: "{{ lbr }} my_debug|d(false) {{ rbr }}"
    debug2: "{{ lbr }} my_debug2|d(false) {{ rbr }}"
    python_required: "{{ lbr }} my_python_required|d('36') {{ rbr }}"

    jname: "{{ lbr }} my_jname|d('test_jail') {{ rbr }}"
    release: "{{ lbr }} my_release|d('13.0-RELEASE') {{ rbr }}"
    label_default: "{{ lbr }} release|regex_replace('[\\W]', '_') {{ rbr }}"
    label: "{{ lbr }} my_label|d(label_default) {{ rbr }}"
    basejail_default: "test_basejail_{{ lbr }} label {{ rbr }}"
    basejail: "{{ lbr }} my_basejail|d(basejail_default) {{ rbr }}"
    properties: "{{ lbr }} my_properties|d({}) {{ rbr }}"

  tasks:

    - ansible.builtin.import_tasks: tasks/custom_stats_start.yml
      tags: always
{% for i in iocage_group_db.keys()|sort %}
    - ansible.builtin.import_tasks: tasks/{{ i }}.yml
      tags: {{ i }}
{% endfor %}
    - ansible.builtin.import_tasks: tasks/custom_stats_end.yml
      tags: always
